@import url('file:///home/san/.cache/wal/colors-waybar.css');

/* font declared */
* {
  font-family: "JetbrainsMono Nerd Font";
  font-size: 12px;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0px;
}

/* idk what all this does */
window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: @text;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}


/* configuring the modules */
.modules-left {
  margin: 10px 0 0 10px;
  padding: 0 3px 0 3px;
  background-color: @background;
  border: 1px solid @focused;
}

.modules-right {
  margin: 10px 10px 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border: 1px solid @focused;
}


/* whats this?? */
button {
  border: none;
}


/* left island */

/* workspace pannel */
#workspaces button {
  min-width: 0;
  padding: 0 5px 0 5px;
  background-color: transparent;
  color: @text;
  border-radius: 0;
}

#workspaces button:hover {
  background-color: @color3;
}

#workspaces button.active {
  color: @focused2;
  background-color: @color2;
}

#workspaces button.urgent {
  background-color: @color4;
}

/* no idea what this does */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

/* media player */
#mpris {
  margin: 0 0 0 5px;
  padding: 0 9px;
  background-color: @background;
  color: @text;
}

#mpris.playing {
  background-color: @color1;
  border-radius: 2px;
  color: @background;
}


/* center module  */
#window {
  padding: 0 5px;
}

/* Right Island */

/* module general styles */
#clock,
#battery,
#cpu,
#memory,
#network {
  padding: 0 3px;
}

#clock:hover,
#battery:hover,
#custom-cpu:hover,
#network:hover,
#idle_inhibitor:hover,
#custom-swaync:hover,
#backlight:hover,
#wireplumber:hover {
  color: @color1;
}

@keyframes blink {
  to {
    background-color: @second-background;
    color: @text;
  }
}
